/* Download fonts to user*/
/*@font-face{
	font-family: georgia;
	src: url('microsoft.com/typography/fonts/family.aspx');
}*/
.header-block{
	background-color: #161515;
	margin: 0 0 10px;
	max-height: 10vh;

}
.header-logo{
	width: 30%;
	max-width: 250px;
	min-width: 150px;
	padding: 0 0 10px;
	display: block;
	position: relative;
	vertical-align: center;
	bottom: 1.75vh;
	margin: 0em auto;
	border-left: 2em dashed red;
	border-right: 2em dashed red;
	border-bottom: 2em double red;

}
.free-logo-left{
	position: fixed;
	width: 20%;
	max-width: 200px;
	min-width: 170px;
	padding: 0 0 10px;
	top: 1vh;

}
.free-logo-right{
	position: fixed;
	width: 20%;
	max-width: 200px;
	min-width: 170px;
	padding: 0 0 10px;
	top: 1vh;
	right: 5vh;
}
.body-border{
	height: 100vh;
	border-style: solid; 
	border-color: #161515;
	border-width: 5vh;
	border-top: 0;
}
.body{
	z-index: 0;

}
.nav-list{
	display: block;
	border-color: red;
	border-style: dashed;
	border-width: 1px;
	background: red;
	border-radius: 25px;
	z-index: 1;
}
.navd{
	text-align: center;
	font-family: georgia;
	color: white;
	font-size: 17px;
	font-weight: 570;
	border-radius: 25px;

}
.navd:hover, .navd:after{
	background: #ccc;
}
.listSpan{
	display: inline;
	float:left;
}
.article_post{
	display: block;
	font-family: georgia;
	text-align: center;
	margin: 10vh 0 0 0em;
}
.links{
	text-decoration: none;
	color: white;
}
.post_title{
	border-width: 1px;
	border-color: blue;
	border: dashed;
	border-width: auto;
	display: inline-block;
	vertical-align: center;
	padding: 0 10px 0px 10px;
}
.post_body{
	overflow: scroll;
	border: solid;
	margin: 10px 0 0 0;
	border-color:  #f0eae9;  $(this).parent().find('.childDiv').css('background-color', '#ffffff');
	padding: 10px;
	text-align: none;
	height: 70vh;
	max-height: 70vh;
	overflow: none;
}
.post_wide{

}
.origin_of_myth{

}
.oom{

}
.how_they_work{

}
.htw{

}
.support_of_findings{

}
.sof{

}
.conclusion{

}
.con{
	
}